<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <ul id="menu">
    <li class="menu-items"><a href="/">Home</a></li>
    <li class="menu-items"><a href="/about">About</a></li>
  </ul>

  <div id="content-wrapper">