{{> header}}

<form method="get">
  <input type="text" name="address" id="address">
  <div style="display: inline-block; position: relative">
    <button id="search-btn">Search</button>
    <img src="/images/spinner.svg" alt="" id="spinner">
  </div>
</form>
<p></p>

<script src="/js/script.js"></script>

{{> footer}}